<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title id="title">Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/mystyle.css">
    <script src="https://aframe.io/releases/1.0.4/aframe.min.js"></script>
    <script src="/js/control.js">

    </script>
</head>
<body>
<div id="des_modal">
    <div id="description">
    </div>
    <div class="text-center">
        <button onclick="clickCloseModal()" id="close" class="btn btn-success">Close</button>
    </div>
</div>
<div>
    <a-scene>
        <a-assets>
            <!--        <a-asset-item id="tree2-obj" src="models/Box/box.obj"></a-asset-item>-->
        </a-assets>
        <a-entity id="rig" background="transparent: true" wasd-controls camera="active: true" camera position="0 0 0"
                  look-controls>
            <a-entity id="mouseCursor" cursor="rayOrigin: mouse"></a-entity>
        </a-entity>
        <a-entity id="entityGltf" text="align: right; whiteSpace: pre" gltf-model="#door-glb"></a-entity>

        <a-entity position="0.817 0.248 -3.2">
            <a-entity
                    position="0 0 -2"
                    geometry="primitive: box"
                    material="color: red"
                    cursor-listener
                    detailhandler
                    description="jhasgfuabsfb"></a-entity>
        </a-entity>

    </a-scene>
</div>
<script>
    // var startExperienteBtn = document.getElementById('des_modal');
    //
    // startExperienteBtn.onclick = function () {
    //     startExperienteBtn.style.display = 'none';
    //     let myScene = document.querySelector('a-scene')
    //     let camera = document.querySelector('#rig')
    //
    //     // document.getElementById('container').outerHTML = '';
    //     myScene.style.zIndex = 'auto';
    //     camera.setAttribute('wasd-controls', '')
    //
    // };
    // startExperienteBtn.emit('onclick');
</script>
</body>
</html>
